{% extends parent_template|default:"base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="offset-by-two eight columns activity-text shadowed">
            <div class="row">
                <div class="u-pull-left">
                    <p class="heading">
                        {{ activity }}
                    </p>
                    <p class="sub-heading">
                        {{ page.title }}
                    </p>
                </div>
                <div class="page-image">
                    <img src="{% static 'images/illustrations/' %}{{ activity.image }}" width="150" />
                </div>
            </div>
            <div class="row border">
                <p class="discussion-heading">
                    Discussion Type: {{ page.get_discussion_type_display }}
                </p>
                <p class="discussion-explanation">
                    {{ page.discussion_explanation }}
                </p>
            </div>
            <div class="page-text row separator">
                <p class="u-full-width discussion-heading">
                    {{ page.text }}
                </p>
                {% if responses %}
                    {% for response in responses %}
                        <div class="row">
                            <div class="three columns discussion-name">
                                {{ forloop.counter }}.
                                {% if page.discussion_type == 'OP' %}
                                    <div class="u-pull-right">
                                        {{ response.user.first_name }} {{ response.user.last_name }}:
                                    </div>
                                {% endif %}
                            </div>
                            <div class="nine columns discussion-response">
                                {{ response.essay }}
                                {% if response.user == user %}
                                    <a href="{% url 'discussion_edit' activity.slug page.index response.pk %}">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="offset-by-two eight columns activity-text shadowed">
            {% block page-content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
