{% extends 'discussion/base_discussion.html' %}

{% block title %}
    {{ block.super }}Discussion
{% endblock %}

{% block page-content %}
    <form class="row" action="{% url 'discussion' activity.slug page.index %}" method="post">
        {% csrf_token %}
        <p class="u-full-width">
            {% if not responses %}
                Start the discussion by entering your response in the area below then click the Submit button.
            {% else %}
                Add to the discussion by entering your thoughts in the area below then click the Submit button.
            {% endif %}
        </p>
        <textarea class="u-full-width text-field" name="entry" autofocus></textarea>
        <input class="offset-by-four four columns button-primary" value="Submit" type="submit"/>
    </form>

    </form>

{% endblock %}

