{% extends parent_template|default:"base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="offset-by-two eight columns activity-text shadowed">
            <div class="row separator">
                <div class="u-pull-left">
                    <p class="heading">
                        {{ activity }}
                    </p>
                    <p class="sub-heading">
                        {{ page.title }}
                    </p>
                </div>
                <div class="page-image">
                    <img src="{% static 'images/illustrations/' %}{{ activity.image }}" width="150" />
                </div>
            </div>
            <div class="page-text row">
                <p class="u-full-width">
                    {{ page.text }}
                </p>
            </div>
            {% block page-content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}