{% extends parent_template|default:"base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="offset-by-one ten columns activity-text shadowed">
            <div class="row separator">
                <div class="u-pull-left eight columns">
                    <p class="heading">
                        {{ activity }}
                    </p>
                    <p class="sub-heading">
                        {{ page.title }}
                    </p>
                </div>
                <div class="four columns">
                    <img class="page-image" src="{% static 'images/illustrations/' %}{{ activity.image }}" />
                </div>
            </div>
            <div class="page-text row">
                <p class="u-full-width">
                    {{ page.text }}
                </p>
            </div>
            {% block page-content %}
            {% endblock %}
        </div>
        {% if 'Team' in group_names %}
            {% include 'activity/page-report.html' %}
        {% endif %}

    </div>
{% endblock %}