{% extends 'activity/base_activity.html' %}

{% block title %}
    {{ block.super }}Written Response
{% endblock %}

{% block page-content %}
    {% with essay=response.essay %}
        {% if not essay %}
            <p class="row u-full-width">
                Answer in the space below, then click the "Submit" button.
            </p>
            <form class="row separator" action="{% url 'page' activity.slug page.index %}" method="post">
                {% csrf_token %}
                <textarea class="u-full-width text-field" name="essay" autofocus>{{ essay }}</textarea>
                <input class="offset-by-four four columns button-primary" value="Submit" type="submit"/>
            </form>
        {% else %}
            <div class="row">
                <div class="offset-by-one ten columns">
                    Your response:
                </div>
            </div>
            <div class="row">
                <div class="offset-by-one ten columns response-display">
                    {{ essay }}
                </div>
            </div>
            {% include 'activity/edit-delete.html' %}
        {% endif %}
    {% endwith %}
    {% include 'activity/navigation.html' %}
{% endblock %}
