{% extends 'activity/base_activity.html' %}

{% block title %}
    {{ block.super }}Written Response
{% endblock %}

{% block page-content %}
    <p class="u-full-width">
        Answer in the space below, then click the "Submit" button.
    </p>
    <form action="{% url 'page' activity.slug page.index %}" method="post">
        {% csrf_token %}
        {% with essay=response.essay %}
            <textarea class="u-full-width text-field" name="essay" autofocus>{{ essay }}</textarea>
            <input class="offset-by-four four columns button-primary" value="Submit" type="submit"/>
        {% endwith %}
    </form>
{% endblock %}