{% extends 'activity/base_activity.html' %}

{% block title %}
    {{ block.super }}Instructions
{% endblock %}

{% block page-content %}
    <form action="{% url 'page' activity.slug page.index %}" method="post">
        {% csrf_token %}
        {% if not response %}
            <p>Hello!</p>
            <input class="offset-by-three six columns button"
                   type="submit"
                   value="Finished"
                   name="finished"/>
        {% else %}
            <div class="row separator">
                <p class="u-full-width center-text">
                    You finished this page on {{ response.created }}
                </p>
            </div>
        {% endif %}
    </form>
    {% include 'activity/navigation.html' %}
{% endblock %}