{% extends 'activity/base_activity.html' %}

{% block title %}
    {{ block.super }}Instructions
{% endblock %}

{% block page-content %}
    <form action="{% url 'page' activity.slug page.index %}" method="post">
        {% csrf_token %}
        {% if not response %}
            <input class="offset-by-three six columns button"
                   type="submit"
                   value="Finished"
                   name="finished"/>
        {% else %}
            <p class="offset-by-one ten columns">
                You finished this page on {{ response.created }}
            </p>
        {% endif %}
    </form>
{% endblock %}