<!-- There is no longer any need for this file. It is included in base_activity.html -->

<div class="row">
    <p>
        {% if page.previous %}
            <a class="u-pull-left three columns button" href="{{ page.previous }}">Back</a>
            <a class="six columns button" href="{% url 'summary' activity.slug %}">
                Summary Page
            </a>
        {% else %}
            <a class="offset-by-three six columns button" href="{% url 'summary' activity.slug %}">
                Summary Page
            </a>
        {% endif %}
        {% if page.next and response.can_goto_next %}
            <a class="u-pull-right three columns button" href="{{ page.next }}">Next</a>
        {% endif %}
    </p>
</div>
