{% load static %}

<div class="offset-by-two eight columns shadowed">
    <h5>Candidate Report:</h5>
    <ul class="report-list">
        <li class="row">
            <div class="four columns report-heading">Name</div>
            {% if page_type == 'IN' %}
                <div class="eight columns report-heading">When Completed</div>
            {% elif page_type == 'ES' %}
                <div class="seven columns report-heading">Response</div>
                <div class="one column report-heading">See</div>
            {% elif page_type == 'MC' or page_type == 'TF' %}
                <div class="six columns report-heading">Choice</div>
                <div class="two columns report-heading">Correct?</div>
            {% endif %}
        </li>
        {% for report in reports %}
            <li class="row">
                <div class="four columns">{{ report.name }}</div>
                {% if page_type == 'IN' %}
                    <div class="eight columns">{{ report.finished }}</div>
                {% elif page_type == 'ES' %}
                    <div class="seven columns">{{ report.essay|truncatewords:7 }}</div>
                    <div class="one column">
                        <img src="{% static 'images/eye-icon.png' %}" title="{{ report.essay }}" />
                    </div>
                {% elif page_type == 'MC' %}
                    <div class="six columns">{{ report.choice }}</div>
                    <div class="two columns">{{ report.correct }}</div>
                {% elif page_type == 'TF' %}
                    <div class="six columns">{{ report.answer }}</div>
                    <div class="two columns">{{ report.correct }}</div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>