{% extends 'activity/base_activity.html' %}
{% load static %}

{% block title %}
    {{ block.super }}{{ activity }} Summary
{% endblock %}

{% block content %}

    <div class="container">
        <div class="offset-by-two eight columns activity_text shadowed">
            <div class="row">
                <div class="four columns">
                    <img src="{% static 'images/illustrations/' %}{{ activity.image }}" width="150" />
                </div>
                <div class="eight columns heading">
                    {{ activity }}
                </div>
            </div>
            <div class="row">
                <p class="twelve columns">
                    {{ activity.overview }}
                </p>
            </div>
            <div class="row">
                {% if pages %}
                    <div class="offset-by-one eleven columns">Sections:</div>
                    {% for page in pages %}
                        <div class="offset-by-one eleven columns">{{ page }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}