{% extends 'activity/base_activity.html' %}
{% load static %}

{% block title %}
    {{ block.super }}{{ activity }} Summary
{% endblock %}

{% block content %}
        <div class="container">
        <div class="offset-by-one ten columns activity-text shadowed">
            <div class="row">
                <div class="twelve columns heading">
                    {{ activity }}
                </div>
            </div>
            <div class="page-text row">
                <p class="eight columns">
                    {{ activity.overview }}
                </p>
                <div class="four columns">
                    <img src="{% static 'images/illustrations/' %}{{ activity.image }}" width="150" />
                </div>
            </div>
            <div class="row">
                {% if data %}
                    <div class="heading twelve columns">
                        Things to Do:
                    </div>
                    <ul class="u-full-width">
                        {% for page, progress in data %}
                        <li class="row table-list separator">
                            {% if progress == 'Pending' %}
                                <div class="six columns">
                                    {{ page.index }}. {{ page.title }}
                                </div>
                                <div class="three columns">
                                    Pending
                                </div>
                                <div class="three columns">
                                    <p class="center-element"></p>
                                </div>
                            {% else %}
                                <div class="six columns">
                                    {{ page.index }}. {{ page.title }}
                                </div>
                                <div class="three columns">
                                    {{ progress }}
                                </div>
                                <div class="three columns">    <!-- Third Column -->
                                    {% if progress == 'Pending' %}
                                        ''
                                    {% elif progress == 'Up next...' %}
                                        <a class="button button u-full-width"
                                           href="/activity/{{ activity.slug }}/{{ page.index }}/">
                                            Do it...
                                        </a>
                                    {% else %}
                                        <a class="button button u-full-width"
                                           href="/activity/{{ activity.slug }}/{{ page.index }}/">
                                            See it...
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a class="button offset-by-three six columns" href="/activity/welcome/">
                    Return to Welcome Page
                </a>
            </div>
        </div>
        {% if 'Team' in group_names %}
            {% include 'activity/summary-report.html' %}
        {% endif %}
    </div>

{% endblock %}