{% extends 'activity/base_activity.html' %}
{% load static %}
{% load activity_extras %}

{% block title %}
    {{ block.super }}{{ activity }} Summary
{% endblock %}

{% block content %}

    <div class="container">
        <div class="offset-by-two eight columns activity_text shadowed">
            <div class="row">
                <div class="twelve columns heading">
                    {{ activity }}
                </div>
            </div>
            <div class="overview row">
                <p class="eight columns">
                    {{ activity.overview }}
                </p>
                <div class="four columns">
                    <img src="{% static 'images/illustrations/' %}{{ activity.image }}" width="150" />
                </div>
            </div>
            <div class="row">
                {% if data %}
                    <div class="offset-by-one eleven columns">Activities:</div>
                    <table class="u-full-width">
                        {% for page, progress in data %}
                        <tr>
                            <td>
                                <a class="no-underline link-list"
                                   href="/activity/{{ activity.slug }}/{{ page.index }}\">
                                    {{ page }}
                                </a>
                            </td>
                            <td class="progress">
                                {{ progress }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}