<div class="offset-by-two eight columns shadowed">
    <h5>Candidate Report:</h5>
    <ul class="report-list">
        <li class="row">
            <div class="four columns report-heading">Name</div>
            <div class="eight columns report-heading">Percent Complete</div>
        </li>
        {% for report in reports %}
            <li class="row">
                <div class="four columns">{{ report.name }}</div>
                <div class="eight columns">{{ report.percent }}</div>
            </li>
        {% endfor %}
    </ul>
</div>