{% extends 'activity/base_activity.html' %}

{% block title %}
    {{ block.super }}Welcome
{% endblock %}

{% block content %}

    <div class="container">
        <div class="offset-by-one ten columns info_box">
            <p class="info_text">Welcome to the St. Basil Parish Confirmation Website! We hope the activities here will be helpful,
            informative, and not incredibly boring. Let us know how we do on all three counts.</p>
        </div>
        <div class="offset-by-two eight columns activity_text row shadowed">
            <p class="heading">
                ACTIVITIES AVAILABLE
            </p>
            {% for activity in activities %}
                <p>
                    {{ activity }}
                </p>
            {% endfor %}
        </div>
    </div>

{% endblock %}