{% extends 'activity/base_activity.html' %}
{% load activity_extras %}

{% block title %}
    {{ block.super }}Welcome
{% endblock %}

{% block content %}

    <div class="container">
        <div class="offset-by-one ten columns info-box">
            <p class="info-text">Welcome to the St. Basil Parish Confirmation Website! We hope the activities here will
                be helpful, informative, and not incredibly boring. Let us know how we do on all three counts.</p>
        </div>
        {% if data %}
            <div class="offset-by-two eight columns activity-text row shadowed">
                <div class="heading twelve columns">
                    Activities:
                </div>
                <table class="u-full-width">
                    {% for activity, msg in data %}
                        <tr>
                            <td>
                                <p class="table-list">
                                    {{ forloop.counter }}. {{ activity }}
                                </p>
                            </td>
                            <td class="progress">
                                {{ msg }}
                            </td>
                            <td>
                                <a class="button u-full-width" href="/activity/{{ activity.slug }}/summary/">
                                    {% if msg == '0.0% Complete' %}
                                        Begin
                                    {% elif msg == 'Finished!' %}
                                        Finished!
                                    {% else %}
                                        Continue
                                     {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {{ group_names }}
            {% if 'Team' in group_names %}
                {% include 'activity/welcome-report.html' %}
            {% endif %}
        {% endif %}
    </div>

{% endblock %}