a.no_dec {
    text-decoration: none;
}

header,
footer {
    color: #ffdd55;
    background-color: #d40000;
}

th.pad-override,
td.pad-override {
    padding-left: 15px;
}

#critique-area {
    font-family: TimesNewRoman serif;
    color: #444444;
    background-color: #eeeeee;
}

#subject {
    height: 25px;
    color: black;
}

#message {
    height: 150px;
    color: black;
    resize: none;
    margin-left: 0;
}

.activity-text {
    font-family: 'Arial', sans;
    font-size: 1.2em;
    color: #2eb873;
}

.author {
    font-weight: bold;
    text-align: right;
}

.email-text {
    font-family: 'Arial', sans;
    font-size: 1.0em;
    color: #2eb873;
}

.banner {
        font-family: 'Gloria Hallelujah', cursive;
}

.border {
    border: 1px solid #2eb873;
    padding: 5px;
}

.button,
 button,
 input[type="submit"] {
    color: #2eb873;
    border-color: #2eb873;
}

.button:hover,
 button:hover,
 input[type="submit"]:hover,
.button:focus,
 button:focus,
 input[type='submit']:focus {
    color: #0e9853;
    border-color: #0e9853;
    background-color: #e6ffe6;
}

.button.button-primary,
 button.button-primary,
 input[type="submit"].button-primary {
    background-color: #2eb873;
    color: white;
    border-color: transparent;
}

.button.button-primary:hover,
 button.button-primary:hover,
 input[type="submit"].button-primary:hover,
.button.button-primary:focus,
 button.button-primary:focus,
 input[type="submit"].button-primary:focus {
    background-color: #1ea863;
    color: white;
    border-color: transparent;
}

.button.selected,
 button.selected {
    color: green;
    border-color: green;
    font-weight: bold;
    border-width: 2px;
 }

.center-element {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.error-display {
    color: red;
    font-weight: bold;
}

.fine-print {
    color: black;
    font-size: .6em;
}

.formatted {
    white-space: pre-wrap;
}

.half-line {
    padding-top: .5em;
}

.heading {
    font-weight: bold;
    font-size: 1.5em;
}

.inset {
    margin: 10px;
}

.sub-heading {
    font-weight: bold;
    font-size: 1.2em;
}

.discussion-heading {
    font-weight: bold;
    margin: 0 0 5px 0;
}

.discussion-name {
    font-size: 0.7em;
    font-weight: bold;
}

.discussion-response {
    font-size: 0.8em;
}

/* adapted from https//www.w3schools.com/howto/howto_css_dropdown.asp */

.menu-button {
    font-family: 'Arial', sans;
    font-size: 1em;
    color: #ffdd55;
    text-decoration: none;
    padding: 5px;
    border-left: 1px solid #ffdd55;
    display: inline-block;
}

.dropdown {
    font-family: 'Arial', sans;
    font-size: 1em;
    position: relative;
    display: inline-block;
}

.dropdown:hover .menu-button {
    background-color: #d40000;
    color: yellow;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f5f5f5;
    font-size: 0.8em;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    color: #dd0000;
    padding: 6px 8px;
    display: block;
}

.dropdown-content a:hover {
    color: red;
}

/* End of adapted section */

.page-image {
    float: right;
    max-width: 100%;
}

.inactive-link {
    margin-bottom: 0px;
    font-weight: bold;
    color: #a0a0a0;
}

.indented-list {
    list-style-type: none;
    color: #2eb873;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.info-box {
    font-family: 'Arial', sans;
    font-size: 1.2em;
    color: #ffdd55;
    background-color: #d40000;
    padding: 10px 50px 10px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #d40000;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

.info-text {
    margin-bottom: 0;
}

.inset-info {
    font-family: 'Arial', sans;
    font-size: 0.8em;
    color: black;
    border: 1px solid black;
    margin: 10px;
    margin-bottom: 25px;
    padding: 10px;
}

.link {
    font-family: 'Arial', sans;
    color: #ffdd55;
    margin-right: 10px;
}

.menu {
    text-transform: none;
    border: none;
}

.no-underline {
    text-decoration: none;
}

.padded {
    padding: 20px;
}

.page-text {
    margin-top: 10px;
    padding-top: 10px;
}

.progress {
    color: #2eb873;
}

.response-display {
    color: black;
    border: 1px solid #2eb873;
    padding: 10px;
    margin: 15px;
}

.shadowed {
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.8);
    padding: 10px;
}

.separator {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.small-button {
    width: 60px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    line-height: 20px;
}

.small-font {
    font-family: 'Arial', sans;
    font-size: 0.8em;
}

.table-list {
    list-style-type: none;
    color: #2eb873;
    margin-top: 5px;
    margin-bottom: 5px;
}

.report-heading {
    font-size: 1.2em;
    font-weight: bold;
}

.report-list {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-field {
    font-family: 'Courier', monospaced;
    color: black;
    resize: none;
    height: 100px;
}

.three-column-display {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
}

.welcome {
    font-family: 'Arial', sans;
    color: #ffdd55;
    font-size: 1.2em;
    padding-left: 5px;
    margin-right: 5px;
}

.welcome a:hover {
    color: yellow;
}