header,
footer {
    color: #ffdd55;
    background-color: #d40000;
}

header {
        font-family: 'Gloria Hallelujah', cursive;
}

.activity_text {
    font-family: 'Arial', sans;
    font-size: 1.2em;
    color: #2eb873;
}

.center-text {
    text-align: center;
}

.formatted {
    white-space: pre-wrap;
}

.heading {
    font-family: 'Arial', sans;
    font-weight: bold;
    font-size: 1.5em;
}

.info_box {
    font-family: 'Arial', sans;
    font-size: 1.2em;
    color: #d40000;
    padding: 10px 50px 10px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.info_text {
    margin-bottom: 0;
}

.link {
    font-family: 'Arial', sans;
    color: #ffdd55;
    margin-right: 10px;
}

.link-list {
    list-style-type: none;
    color: #2eb873;
    font-weight: bold;
    margin-top: 20px;
}

.no-underline {
    text-decoration: none;
}

.shadowed {
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.8);
    padding: 10px;
}


.welcome {
    font-family: 'Arial', sans;
    color: #ffdd55;
    font-weight: bold;
    margin-right: 10px;
}