html {
  background-color: #d40000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
}

header {
  color: #ffdd55;
  padding-top: 10px;
  /*padding-bottom: 10px;*/
  box-sizing: border-box;
}
header h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 260%;
  text-align: center;
  margin: 0 auto;
}
header .logo {
  float: left;
  width: 20%;
}
header .banner {
  width: 80%;
  float: left;
  box-sizing: border-box;
}
@media screen and (max-width: 912px) {
  header h1 {
    font-size: 130%;
  }
}
@media screen and (max-width: 480px) {
  header h1 {
    font-size: 90%;
  }
  header .welcome .username {
    display: none;
  }
}

footer {
  font-family: "Times New Roman", serif;
  color: #ffdd55;
}

main, .critiques {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}
header .container {
  padding: 0;
}

.sub-heading {
  font-family: Helvetica, Arial, sans-serif;
}

.welcome {
  width: 30%;
  font-size: 115%;
  text-align: center;
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  box-sizing: border-box;
}

/* Header Navigation Bar */
.menu {
  width: 70%;
  float: right;
  box-sizing: border-box;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
  float: right;
  width: 25%;
  box-sizing: border-box;
}

.menu a {
  display: block;
  /* Web Design for Beginners Lecture 33, 4:40 */
  color: #ffdd55;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #ffdd55;
  border-radius: 10px;
  margin-left: 5px;
}

.menu a:hover {
  background-color: #ffdd55;
  color: #d40000;
}

@media screen and (max-width: 912px) {
  .menu li {
    width: 50%;
    padding-right: 20px;
  }

  .menu a {
    padding: 15px 0;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 480px) {
  .menu li {
    width: 75%;
  }
}
/* End Header Navigation Bar */
/* Reveal and Hide Section */
.toggle-btn {
  display: none;
}

.toggle-btn-visible {
  display: block;
}

.toggle-btn-hidden {
  display: none;
}

.toggle-btn-expanded {
  display: block;
}

/* End Reveal and Hide Section */
/* ------------------------------------
   clearfix
   ------------------------------------ */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
