{% extends 'mail/base_mail.html' %}

{% block title %}
    {{ block.super }}Send E-mails
{% endblock %}

{% block page-content %}

<h2>This page will allow you to send e-mails.</h2>
<div class="offset-by-two eight columns activity-text shadowed">
    <h5>Supervisors:</h5>
    {% for user in supervisors %}
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    {% endfor %}
    <h5>Team:</h5>
    {% for user in team_members %}
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    {% endfor %}
    <h5>Candidates:</h5>
    {% for user in candidates %}
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    {% endfor %}
</div>

{% endblock %}