{% extends 'mail/base_mail.html' %}

{% block title %}
    {{ block.super }}Send E-mails
{% endblock %}

{% block head %}

    <script>

        function toggleSelected(button) {
            // toggles the 'selected' class in the given button, returns true if selected, false if not selected
            if ($(button).hasClass('selected')) {
                $(button).removeClass('selected');
                return false;
            } else {
                $(button).addClass('selected');
                return true;
            }; // end if
        }; // end toggleSelected

        $(document).ready(function() {
            $('#select_all').click(function() {
                var selected = toggleSelected(this); // toggles 'selected' class and returns true if it is set
                $('.sub-group').each(function() {
                    if (selected) {
                        $(this).addClass('selected');
                    } else {
                        $(this).removeClass('selected');
                    }
                });
                $(':checkbox').each(function() {
                    $(this).prop('checked', selected); // sets the checkbox to status of button
                }); // end checkbox each
            }); // end select_all click
            $('#select_supervisors').click(function() {
                selected = toggleSelected(this);
                $('.supervisor').each(function() {
                    $(this).prop('checked', selected); // sets the checkbox to status of button
                }); // end supervisor each
            }); // end select_supervisors click
            $('#select_team').click(function() {
                selected = toggleSelected(this);
                $('.team').each(function() {
                    $(this).prop('checked', selected); // sets the checkbox to status of button
                }); // end team each
            }); // end select_team click
            $('#select_candidates').click(function() {
                selected = toggleSelected(this);
                $('.candidate').each(function() {
                    $(this).prop('checked', selected); // sets the checkbox to status of button
                }); // end candidate each
            }); // end select_candidates click
        }); // end ready
    </script>

{% endblock %}

{% block page-content %}

<div class="offset-by-two eight columns email-text shadowed">
    <form action="{% url 'send_email' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="offset-by-one ten columns inset-info">
                <p>
                    Click the buttons to select all of the members of that category or click
                    'Select All' to select everyone. (Note: duplicates will be removed so selected
                    users in more than one category will get only one copy of your e-mail.)
                </p>
                <button class="u-pull-left five columns" type="button" id="select_all">Select All</button>
            </div>
        </div>
        <div class="row">
            <button class="four columns sub-group" type="button" id="select_supervisors">Supervisors</button>
        </div>
        <ul class="separator">
            {% for member in supervisors %}
                <li class="indented-list">
                    <input type="checkbox" class="supervisor" name="recipients" value="{{ member }}"/>
                    {{ member.last_name }}, {{ member.first_name }}
                </li>
            {% endfor %}
        </ul>
        <div class="row">
            <button class="four columns sub-group" type="button" id="select_team">Team Members</button>
        </div>
        <ul class="separator">
            {% for member in team_members %}
                <li class="indented-list">
                    <input type="checkbox" class="team" name="recipients" value="{{ member }}"/>
                    {{ member.last_name }}, {{ member.first_name }}
                </li>
            {% endfor %}
        </ul>
        <div class="row">
            <button class="four columns sub-group" type="button" id="select_candidates">Candidates</button>
        </div>
        <ul class="separator">
            {% for member in candidates %}
                <li class="indented-list">
                    <input type="checkbox" type="button" class="candidate" name="recipients" value="{{ member }}"/>
                    {{ member.last_name }}, {{ member.first_name }}
                </li>
            {% endfor %}
        </ul>
        <div class="row">
            <button class="four columns sub-group" type="button" id="select_testers">Testers</button>
        </div>
        <ul class="separator">
            {% for member in testers %}
                <li class="indented-list">
                    <input type="checkbox" type="button" class="tester" name="recipients" value="{{ member }}"/>
                    {{ member.last_name }}, {{ member.first_name }}
                </li>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="nine columns small-font">
                <div>
                    <label class="u-pull-left" for="subject">Subject:</label>
                    <input class="u-full-width" type="text" id="subject" name="subject"></inputtextarea>
                </div>
                <div>
                    <label for="message">Enter the text of the e-mail below:</label>
                    <textarea type="text" class="u-full-width" id="message" name="message"></textarea>
                </div>
            </div>
            <div class="three columns border">
                <p class="small-font">
                    The following tags in the subject line or message will be converted as shown:
                </p>
                <p class="small-font">
                    [first] = first name<br>
                    [last] = last name<br>
                    [full] = full name<br>
                    [user] = username<br>
                    [pwrd] = password
                </p>
            </div>
        </div>
        <div class="row">
            <input class="offset-by-two three columns button-primary" value="Send" type="submit"/>
            <a class="offset-by-two three columns button" href="{% url 'welcome' %}">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}