{% extends 'development/base_development.html' %}

{% block content %}
    <div class="container">
        <div class="offset-by-one ten columns shadowed">
            <div>
                <table class="center-element">
                    <caption><h4>Activity Development</h4></caption>
                    <tr>
                        <thead>
                            <th>Activity Name</th>
                            <th>Initiator</th>
                            <th>Partners</th>
                            <th>Status</th>
                            <th></th>
                        </thead>
                    </tr>
                    {% for activity in activities %}
                        <tr>
                            <td>
                                {{ activity }}
                            </td>
                            <td>
                                {{ activity.get_initiator }}
                            </td>
                            <td>
                                {% for partner in activity.get_partners %}
                                    {{ partner.name }}
                                {% endfor %}
                            </td>
                            {% with status=activity.get_status %}
                                <td>
                                    {{ status }}
                                </td>
                                {% if status == 'Reviewing' or status == 'Published' %}
                                    <td>
                                        <a href="url 'develop/{{ activity.activity.slug }}/summary/'">Review</a>
                                    </td>
                                {% else %}
                                    {% if user in activity.get_partners or user == activity.initiator %}
                                        <td>
                                            <a href="url 'develop/{{ activity.activity.slug }}/summary/'">Edit</a>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}