{% extends 'development/base_development.html' %}

{% block content %}
    <div class="container">
        <div class="offset-by-one ten columns shadowed">
            <div>
                <table class="center-element">
                    <caption><h4>Activity List</h4></caption>
                    <tr>
                        <thead>
                            <th>Activity Name</th>
                            <th>Initiator</th>
                            <th>Partners</th>
                            <th>Status</th>
                            <th></th>
                        </thead>
                    </tr>
                    {% for dev_activity in dev_activities %}
                        <tr>
                            <td>
                                {{ dev_activity }}
                            </td>
                            <td>
                                {{ dev_activity.get_initiator }}
                            </td>
                            <td>
                                {% for partner in dev_activity.get_partners %}
                                    {{ partner.first_name }} {{ partner.last_name }}
                                {% endfor %}
                            </td>
                            {% with status=dev_activity.get_status %}
                                <td>
                                    {{ status }}
                                </td>
                                {% if status == 'Reviewing' or status == 'Published' %}
                                    <td>
                                        <a href="/develop/{{ dev_activity.activity.slug }}/">Review</a>
                                    </td>
                                {% else %}
                                    {% if user in dev_activity.get_partners or user == dev_activity.initiator %}
                                        <td>
                                            <a href="/develop/{{ dev_activity.activity.slug }}/">Edit</a>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}