{% extends 'development/base_development.html' %}

{% block content %}
    <div class="container">
        <div class="offset-by-two eight columns shadowed">
            <div>
                <table class="center-element">
                    <caption><h4>Activities</h4></caption>
                    <tr>
                        <thead>
                            <th>Activity Name</th>
                            <th>Initiator</th>
                            <th>Partners</th>
                            <th>Status</th>
                        </thead>
                    </tr>
                    {% for activity in activities %}
                        <tr>
                            <td>
                                {{ activity }}
                            </td>
                            <td>
                                {{ activity.get_initiator }}
                            </td>
                            <td>
                                {% for partner in activity.get_partners %}
                                    {{ partner.name }}
                                {% endfor %}
                            </td>
                            <td>
                                {{ activity.get_status }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}