{% extends 'development/base_development.html' %}

{% block content %}
    <div class="container">
        <div class="offset-by-one ten columns shadowed">
            <h3 class="center-text">Plans for this Section</h3>
            <p>
                Eventually I would like to have a section of the website where team members could
                gather ideas and build activities together. I am not nearly ready to do that yet.
                For now, I have to go through a rather technical process to create an activity and
                the pages that go with it.
            </p>
            <p>
                For now, though, I'd like you to come up with ideas for candidate activities. They should be
                designed to be interesting, fairly quick and simple to do, and yet worth doing -- in other words
                candidates should be able to advance in some way by completing an activity. They may end up knowing
                more than they did before, but, more importantly, they could grow in faith, or in interest, or in
                their basic "buy-in" to the Catholic faith.
            </p>
            <p>
                Use the comment area in the section below to propose and discuss activity ideas. If I can, I will
                implement them for use by the candidates before opening the website to the whole group.
            </p>
        </div>
    </div>
{% endblock %}