{% extends 'base_error.html' %}
{% load static %}

{% block title %}
    {{ block.super }}Internal Error
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row padded">
            <div class="three columns">
                <img src="{% static '/images/PerplexedMaleSmall.png' %}">
            </div>
            <div class="offset-by-one eight columns">
                <h3>I really don't know what happened!</h3>
                <h4>It's probably some programming error that I made.</h4>
                <h5>If you can make it happen again, let me know what causes it
                    and maybe I can fix it.</h5>
            </div>
        </div>
    </div>
{% endblock %}